/* ===== ROULETTE SECTION ===== */

.viewport {
    background-color: var(--canvas-bg);
    display: flex;
    align-items: center; /* Centrado vertical */
    justify-content: flex-start; /* Alineado a la izquierda */
    height: 100vh;
    margin: 0;
    padding-left: var(--spacing-left); /* Espacio controlado */
}

.wheel-container {
    position: relative;
    width: var(--wheel-size);
    height: var(--wheel-size);
}

.wheel-body {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 6px solid #230220;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    /* Multicolored sections using conic-gradient */
    background: conic-gradient(
        
        #540e6b 288deg 360deg
    );
}

.wheel-hub {
    width: 20%;
    height: 20%;
    background-color: var(--brand-yellow);
    border-radius: 50%;
    box-shadow: 0 4px 10px rgba(0,0,0,0.4);
    z-index: 2;
}

.wheel-pointer {
    position: absolute;
    top: -12px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 25px solid var(--brand-yellow);
    z-index: 3;
}
/* Estilo básico para el botón */
.spin-button {
    margin: 10px auto;
    display: flex;
    padding: 20px 20px;
    background-color: var(--brand-yellow);
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.2s;
}

.spin-button:active {
    transform: scale(0.95);
}