/* ===============================
   STARS RANDOM PREMIUM
=============================== */
header,
main,
footer {
    position: relative;
    z-index: 1;
}

#stars-container {
    position: fixed;
    inset: 0;

    pointer-events: none;

    z-index: -1;
}

.star {
    position: absolute;
    width: 4px;
    height: 4px;
    background: #f4c542;
    border-radius: 50%;

    box-shadow: 0 0 8px rgba(244, 197, 66, .8);

    animation: twinkle 4s ease-in-out infinite alternate;
    opacity: .55;
    filter: blur(.3px);
}

@keyframes twinkle {
    0% {
        opacity: .2;
        transform: scale(.8);
    }

    100% {
        opacity: 1;
        transform: scale(1.3);
    }
}