/* ===============================
   WEATHER PREMIUM
=============================== */

.weather-widget {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 340px;
    /* mismo ancho aprox noticias */
    height: 76px;

    padding: 0 22px;

    border-radius: 22px;

    background: linear-gradient(135deg,
            rgba(255, 255, 255, .08),
            rgba(255, 255, 255, .03));

    border: 1px solid rgba(255, 255, 255, .08);

    backdrop-filter: blur(16px);

    box-shadow:
        0 10px 30px rgba(0, 0, 0, .30),
        inset 0 1px 0 rgba(255, 255, 255, .05);

    transition: .25s ease;
}

.weather-widget:hover {
    transform: translateY(-2px);
    box-shadow:
        0 18px 35px rgba(0, 0, 0, .35),
        inset 0 1px 0 rgba(255, 255, 255, .08);
}

.weather-left,
.weather-right{
    display:flex;
    align-items:center;
    gap:12px;
}

.weather-right{
    margin-left:28px;
}

.flag-icon,
.weather-icon {
    width: 38px;
    height: 38px;
    object-fit: contain;
    display: block;
    flex-shrink: 0;
}

.weather-info {
    display: flex;
    flex-direction: column;
    line-height: 1.1;
}

.weather-city {
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: .2px;
}

.weather-desc {
    color: rgba(255, 255, 255, .60);
    font-size: 12px;
    margin-top: 4px;
    text-transform: capitalize;
}

.weather-temp {
    color: #fff;
    font-size: 28px;
    font-weight: 700;
}

/* PERMISOS */

.permission-box {
    display: flex;
    align-items: center;
    gap: 12px;
}

.perm-icon {
    font-size: 26px;
}

.perm-title {
    color: #fff;
    font-size: 14px;
    font-weight: 700;
}

.perm-subtitle {
    color: rgba(255, 255, 255, .55);
    font-size: 11px;
}